body{
	color:white;
}

#header{
	background-image:url('images/stars.jpg');
	background-attachment:fixed;
}

#header h1{
	color:white;
	font-size: 5em;
	padding: 70px 0px 0px 30px;
}

#main-content{
	color:white;
}

.carousel-item{
	height:40em;
	padding-top:30px;
	color:white;
}

#profile{
	height:200px;
	width:200px;
}

/* vertical slider css*/
.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}