body{
	color:white;
	background-image:url('images/stars.jpg');
	background-size:contain;
	background-attachment:fixed;
	overflow:hidden;
}

#header h1{
	color:white;
	font-size: 5em;
	padding-top: 260px;
	padding-left: 100px;
}

#header i{
	color:white;
	font-size:150px;
	position:absolute;
	top:600px;
	right:160px;
	opacity: 0.3;
	transition: all 0.5s;
}

#header i:hover{
	opacity:1;
}

#maincontain{
	position:relative;
	top:1000px;
}

#sidemenu{
	background-color:#130019;
}

#main-content{
	overflow:hidden;
	padding:0px;
}

.bgIMG{
	position:absolute;
	filter:brightness(20%);
	transition:all 0.25s;
}

.seeThrough{
	opacity:0;
}

div p{
	font-size:18px;
}

.carousel-item{
	height:60em;
	padding-top:100px;
	color:white;
}

/*About Myself*/
.btn-social i{
	
}

#profile{
	height:350px;
	width:350px;
}

#social a{
	margin-right:10px;
}

/*Glace Bay Food Bank*/


/*Trends in IT*/
#quote1{
	position: relative;
	bottom: 8px;
	right: 4px;
}

#quote2{
	position: relative;
	bottom: 8px;
	left: 4px;
}

/* vertical slider css*/
.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}